.menu-item{
    -fx-text-fill: #FFF;
}

.linear-background {
   -fx-background-color: linear-gradient(from 25% 25% to 75% 100%,#cf6766,#6e3667);
}
.login--linear-background {
   -fx-background-color: linear-gradient(from 25% 25% to 75% 100%,#cf6766,#6e3667);
}
.menu-top--linear-background{
   -fx-background-color: linear-gradient(from 25% 25% to 75% 100%,#cf6766,#6e3667);
}
.menu-lerf--linear-background{
   -fx-background-color: linear-gradient(from 25% 25% to 75% 100%,#cf6766,#6e3667);
}
.tarefas--linear-background{
   -fx-background-color: linear-gradient(from 25% 25% to 75% 100%,#cf6766,#6e3667);
}
.btDefault{
    -fx-font-size: 12px;
    -jfx-button-type: RAISED;
    -fx-text-fill: #E7DFDD;
}
.btDefaultText{
    -fx-font-size: 12px;
    -jfx-button-type: RAISED;
}
.label{
    -fx-font-size: 12px;
    -fx-text-fill: #E7DFDD;
}
.combo-box{
    -fx-background-color: #E7DFDD;
    -jfx-focus-color: rgb(19, 134, 242);
    -jfx-unfocus-color: #E7DFDD;
    -jfx-label-float: true;
    -fx-prompt-text-fill: #E7DFDD;
}
.my-list-cell {
    -fx-text-fill: blue;
    -fx-background-color: #FFF;
}
.jfx-date-picker .text-field{
    -jfx-default-color: #009688;
    -jfx-overlay: true;
    -fx-background-color: #E7DFDD;
    -fx-text-fill: black;
}
.jfx-text-field{
    -fx-font-size: 12px;
    -jfx-focus-color: rgb(19, 134, 242);
    -jfx-unfocus-color: #E7DFDD;
    -jfx-label-float: true;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #E7DFDD;
}
.jfx-password-field{
    -fx-font-size: 12px;
    -jfx-focus-color: rgb(19, 134, 242);
    -jfx-unfocus-color: #E7DFDD;
    -jfx-label-float: true;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #E7DFDD;
}
.jfx-text-area{
    -fx-font-size: 12px;
    -jfx-focus-color: rgb(19, 134, 242);
    -jfx-unfocus-color: #E7DFDD;
    -jfx-label-float: false;
    -fx-text-fill: white;
    -fx-prompt-text-fill: black;
}
.radio-button{
    -fx-font-size: 12px;
    -fx-text-fill: #E7DFDD;
}
.table{
    -fx-background-color: transparent;
}
.table:focused{
    -fx-background-color: transparent;
}
.table .table-cell{
    -fx-text-fill: black;
}
.table .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.table .text-area{
    -fx-font-size: 11px;
    -fx-text-fill: black;
}
.label-title{
    -fx-font-size: 28px;
    -fx-text-fill: #E7DFDD;
}
.label-title2{
    -fx-font-size: 24px;
    -fx-text-fill: #E7DFDD;
}
.label-card{
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
    -fx-font-weight: bold;
}
.label-card2{
    -fx-font-size: 12px;
    -fx-text-fill: #666666;
    -fx-font-weight: bold;
}
.label-card-value{
    -fx-font-size: 28px;
    -fx-text-fill: #666666;
}
.btYellow{
    -fx-font-size: 12px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(244, 206, 66);
    -fx-text-fill: WHITE;
}
.btBlue{
    -fx-font-size: 12px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(19, 134, 242);
    -fx-text-fill: WHITE;
}
.btGreen{
    -fx-font-size: 12px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(64, 206, 85);
    -fx-text-fill: WHITE;
}
.btRed{
    -fx-font-size: 12px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(242, 52, 38);
    -fx-text-fill: WHITE;
}
.btDefault:hover{
    -fx-font-size: 12px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(255,102,70);
    -fx-text-fill:  #E7DFDD;
}
.btBlue:hover{
    -fx-font-size: 11px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(255,102,70);
    -fx-text-fill: WHITE;
}
.btGreen:hover{
    -fx-font-size: 11px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(255,102,70);
    -fx-text-fill: WHITE;
}
.btRed:hover{
    -fx-font-size: 11px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(255,102,70);
    -fx-text-fill: WHITE;
}
.btYellow:hover{
    -fx-font-size: 11px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(255,102,70);
    -fx-text-fill: WHITE;
}
